

*{
    margin: 0 auto;
    max-width: 987px;
    box-sizing: border-box;
}

input{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20%;
    margin-right: 20%;
    height: 40px;
    padding: 5px;
    max-width: 700px;
    width: 60%;
    border-radius: 5px;
    border: 1.5px solid grey;
    outline: none;
}

.thumbnail{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
}